###functions in python

In [ ]:
def test()

SyntaxError: ignored

In [ ]:
def test1():
  pass

In [ ]:
def test1():
  print("this is my very first function")  # print returns nonetype

In [ ]:
test1()

this is my very first function

In [ ]:
test1()+"vanna"  # bcz, print returns nontype

this is my very first function

TypeError: ignored

In [ ]:
def test1():
  return "this is my very first function "
  # to make use of output from function always use return type instead of print

In [ ]:
test1() + "vanna"

'this is my very first function vanna'

In [ ]:
def test3():
  return 1,2,"pista", 65.32

In [ ]:
test3()

(1, 2, 'pista', 65.32)

In [ ]:
a,b,c,d  = 21, 32 ,"zero",63.3

In [ ]:
a

21

In [ ]:
b

32

In [ ]:
c

'zero'

In [ ]:
d

63.3

In [ ]:
test3()   # returns multiple datatype in tuple

(1, 2, 'pista', 65.32)

In [ ]:
test3()[0]

1

In [ ]:
test3()[2]

'pista'

In [ ]:
a,b,c,d =test3()

In [ ]:
a

1

In [ ]:
d

65.32

In [ ]:
def test4():
  x=3*4+10
  return x

In [ ]:
test4()

22

In [ ]:
type(test4())

int

In [ ]:
def test5(a,b):
  c= a  + b
  return c

In [ ]:
test5("vanna","here")

'vannahere'

In [ ]:
test5(2,3)

5

In [ ]:
test5([2,3,6],[4,5,7])

[2, 3, 6, 4, 5, 7]

In [ ]:
test5(b = "here", a="pista")

'pistahere'

In [ ]:
l = [1,2,3,4,5,"sudh" , "pwskills" , [1,2,3,34,45]]

In [ ]:
# create a function that takes a list as input and returns a final list with all numeric values

In [ ]:
def test6(l):
  n=[]
  for i in l:
    if type(i)==int or type(i)==float:
      n.append(i)
  return n

In [ ]:
test6(l)

[1, 2, 3, 4, 5]

In [ ]:
# for nested list as well

def test7(l):
  n=[]
  for i in l:
    if type(i) == list:
      for j in i:
        if type(j) == int or type(j)==float:
          n.append(j)
    elif type(i) == int or type(i)==float: 
       n.append(i) 

  return n

In [ ]:
test7(l)

[1, 2, 3, 4, 5, 1, 2, 3, 34, 45]

In [ ]:
# for nested list as well

def test7(l):
  n=[]
  for i in l:
    if type(i) == list:
      for j in i:
        if type(j) == int or type(j)==float:
          n.append(j)
    else:
      if type(i) == int or type(i)==float: 
          n.append(i) 



  return n

In [ ]:
test7(l)

[1, 2, 3, 4, 5, 1, 2, 3, 34, 45]

In [ ]:
def testt1(a,b,c,d,):
  pass

In [ ]:
testt1(1,2,3,4)

In [ ]:
testt1(1,2,3,4,5,6)

TypeError: ignored

## hence, for giving varied no. of arguments in a function , *args is ued

In [ ]:
def testt2(*args):
  return args

In [ ]:
testt2()

()

In [ ]:
type(testt2())

tuple

In [ ]:

testt2(5,3,6,7,8,9,4,"vanna",5+2j)

(5, 3, 6, 7, 8, 9, 4, 'vanna', (5+2j))

In [ ]:
testt2(5,3,6,(7,8,9,4),["vanna",5+2j,23.3],"zerodha")

(5, 3, 6, (7, 8, 9, 4), ['vanna', (5+2j), 23.3], 'zerodha')

In [ ]:
def testt3(*pista):    # args is not a keyword here, so can be changed too
  return pista

In [ ]:
testt3(5,3,56.3,8,9,4,"vanna",5+2j)

(5, 3, 56.3, 8, 9, 4, 'vanna', (5+2j))

In [ ]:
def testt4(*args, a):
  return args, a

In [ ]:
testt4(6)

TypeError: ignored

In [ ]:
testt4(89,2,6,23.8,"here",3+2j)

TypeError: ignored

In [ ]:
testt4(a,89,2,6,23.8,"here",3+2j)

TypeError: ignored

In [ ]:
testt4(89,2,6,23.8,"here",3+2j, a="vikas")  # a needs to be defined, else function will throw error

# *args returns values in tuples

((89, 2, 6, 23.8, 'here', (3+2j)), 'vikas')

In [ ]:
def testt5(*args):
  n=[]
  for i in args:
    if type(i) == list:
      n.append(i)
  return n

In [ ]:
l= [1,2,3,(4,5,6,78),[78,65,3,12,"vanna"],23,[1,2,9,5,3+2j]]

In [ ]:
testt5(l)

[[1, 2, 3, (4, 5, 6, 78), [78, 65, 3, 12, 'vanna'], 23, [1, 2, 9, 5, (3+2j)]]]

### kwargs is used to pass arguments in the form of key- value pairs and returns dictionary.

In [ ]:
def testt6(**kwargs):
  return kwargs

In [ ]:
testt6()

{}

In [ ]:
type(testt6())

dict

In [ ]:
testt6(a=32,b =98, c="zero", d= [5,3,6,9], e=("django, flask"))

{'a': 32, 'b': 98, 'c': 'zero', 'd': [5, 3, 6, 9], 'e': 'django, flask'}

In [ ]:
def testt7(**kwargs):
  for i in kwargs.keys():
    if type(kwargs[i]) == list:
      return i , kwargs[i]

In [ ]:
testt7(a=32,b =98, c="zero", d= [5,3,6,9], e=("django, flask"))

('d', [5, 3, 6, 9])

In [ ]:
def testt8(*args,**kwargs):
  return args , kwargs

In [ ]:
testt8(2,3,4,a =34, b=98)

((2, 3, 4), {'a': 34, 'b': 98})

In [ ]:
def testt9(**kwargs):
  for i in kwargs.keys():
    print(f"{i} : {kwargs[i]}")

In [ ]:
testt9(a=21, b = "Delhi",c = ["pista",32,1,9])

a : 21
b : Delhi
c : ['pista', 32, 1, 9]

# Generator function :
Generator Functions are memory efficient, as they save a lot of memory while using generators.

In [ ]:
range(1,10)

range(1, 10)

In [ ]:
print(range(1,10))

range(1, 10)

In [ ]:
for i in range(1,10):
  print (i)

In [ ]:
l= [12,23,65,23.3,"vanna","pista"]

In [ ]:
def func(a):
  n= []
  for i in a:
    if type(i)==int:
      n.append(i)
  return n    


  # its only giving out the output only after iterating through the whole list,
  #  thus creates bottleneck, to counter this problem generators are used

In [ ]:
func(l)

[12, 23, 65]

fibonacci series: 
  0 , 1 , 1 , 2, 3 ,5 ,8, 13, 21,34

In [ ]:
def feb_func(n):
  a,b = 0,1
  for i in range(0,n):
    yield a            # yield returns a generator object instead of simply returning a value
    a, b = b,a+b

  
# Users should use yield when they want to 
# return a large set of values to the caller function. 
# One of the most efficient techniques to return data is
#  using the yield statament, as it is faster than the return
#  statement in producing infinite or big data.

In [ ]:
feb_func(10)  

# cuz,  generator functions returns an iterator

In [ ]:
# and iterator will only return sequence of values if iterated over

for i in feb_func(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

## lambda  *functions* : python supports thhe creation of anonymus functions
## (with no name until assigned one) at the runtime using a construct called lambda .

In [ ]:
def pow_func(x,y):
  return x**y

In [ ]:
pow_func(2,3)

8

In [ ]:
q= lambda x,y : x**y

In [ ]:
q(2,3)

8

In [ ]:
q = lambda x,y : x+y
q(56,4)

60

In [ ]:
c_to_f = lambda c: (9/5)*c +32
c_to_f(37)

98.60000000000001

In [ ]:
ret_max = lambda x,y : x  if  x>y else y

# ret_max = lambda x,y : max(x,y)    # both works fine

ret_max(23,56)

56

## Map , Filter and Reduce :

# MAP : its a mapper doing mapping on each element by performing some operation on it, as defined by the function passed.

In [ ]:
l = [1,2,3,4,5,6]

In [ ]:
def sq(a):
  n=[]
  for i in a:
    n.append(i**2)

  return n

In [ ]:
sq(l)

[1, 4, 9, 16, 25, 36]

In [ ]:
map(test,l)  # gives map object

In [ ]:
def sq(a):
  return a**2

In [ ]:
list(map(sq , l))

[1, 4, 9, 16, 25, 36]

In [ ]:
list(map(lambda a : a**2 , l))

[1, 4, 9, 16, 25, 36]

In [ ]:
list(map(lambda a : a +10 , l))

[11, 12, 13, 14, 15, 16]

In [ ]:
list(map(lambda a : a +10 , (10,20,30)))

[20, 30, 40]

In [ ]:
list(map(lambda a : str(a) , l))

['1', '2', '3', '4', '5', '6']

In [ ]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

In [ ]:
# list(map(lambda a,b  : a[i] +b[i], l1,l2))   #'int' object is not subscriptable

list(map(lambda a,b  : a +b, l1,l2))

[7, 9, 11, 13, 15]

In [ ]:
s= "vandana"
list(map(lambda x: x.upper(), s))   # each letter has been separated bcz, 
                # map works as an iteraotr itself  thats why all the iterables 
                # have been separated

['V', 'A', 'N', 'D', 'A', 'N', 'A']

## Reduce

In [ ]:
from functools import reduce

In [ ]:
l = [1,2,3,4,5,6]

In [ ]:
reduce(lambda x,y : x+y , l )

 # , everytime on evaluation of x+y , 
# x+y gets equal to x and next elemt becomes y itself for next iteration and it goes on the same way
#  for every iteration

21

In [ ]:
def add(x,y):
  return x+y
  
reduce(add, l)

21

In [ ]:
reduce(lambda x,y :x*y , l)

720

In [ ]:
reduce(lambda x,y,z : x + y + z , l )

TypeError: ignored

In [ ]:
l11 = [1,2,3,4,5,6,7]
reduce(lambda x,y,z : x + y + z , l11 )
  
  # even after passing one more elemnt into the list, it still doesn't work fine
  # as reduce is designed to give best output for x+y (a pair only not
  #  like tripolet or quadrapule)

TypeError: ignored

In [ ]:
reduce(lambda x,y : x+y , [])

TypeError: ignored

## EXCEPTIONAL CASE IN REDUCE : it works with a single value in list too

In [ ]:
reduce(lambda x,y : x+y , [5])

5

In [ ]:
reduce(lambda x,y : x*y , [5])

5

In [ ]:
reduce(lambda x,y : x+y , (1,2,3))

6

In [ ]:
# finding the max number out of the list


reduce(lambda x,y : x if x>y else y , l)

6

In [ ]:
reduce(lambda x,y : max(x,y), l)   # both works fine

6

## filter :  fliter is used to filter out elements on the basis of condition passed

In [ ]:
list(filter(lambda x: x%2 ==0 , l ))

[2, 4, 6]

In [ ]:
list(filter(lambda x : x%2 !=0 , l ))

[1, 3, 5]

In [ ]:
l1= [-2,-4,5 ,6 , -3 , -9 ]

In [ ]:
list(filter(lambda x:  x<0 ,l1))

[-2, -4, -3, -9]

In [ ]:
list(filter(lambda x:  x>0 ,l1))

[5, 6]

In [ ]:
l2 = ["AI","machine_learning","transformers","generative_AI"]
list(filter(lambda x: len(x) > 6 , l2))

['machine_learning', 'transformers', 'generative_AI']